body {
    font-family: Arial;
    background-image: url("latarBelakang.png"); /* path ke gambarmu */
    background-size: cover;                    /* agar memenuhi layar */
    background-repeat: no-repeat;              /* tidak diulang */
    background-attachment: fixed;              /* biar tidak ikut scroll */
    margin: 0;
    padding: 0;
}
